<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>

  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}/{{ path }}"/>
  <meta property="og:title" content="JSOxford - {{ coalesce title collections.events.0.title }}"/>
  <meta property="og:description" content="{{ coalesce summary site.description }}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:image" content="{{ site.url }}/images/favico/favicon-196x196.png"/>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" value="{{ site.url }}" />
  <meta name="twitter:title" value="JSOxford - {{ coalesce title collections.events.0.title }}" />
  <meta name="twitter:description" value="{{ coalesce summary site.description }}" />
  <meta name="twitter:image" content="{{ site.url }}/images/favico/favicon-196x196.png" />
  <meta name="twitter:url" value="{{ site.url }}/{{ path }}" />

  <!-- Twitter Do Not Track -->
  <meta name="twitter:dnt" content="on">

  <link rel="manifest" href="/manifest.webmanifest">

  <meta name="application-name" content="JSOxford"/>
  <meta name="theme-color" content="#f3df49">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/favico/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favico/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favico/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favico/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/favico/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/favico/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/favico/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favico/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/images/favico/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/images/favico/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/images/favico/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/images/favico/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/images/favico/favicon-128.png" sizes="128x128" />
  <meta name="msapplication-TileColor" content="#f3df49">
  <meta name="msapplication-TileImage" content="/images/favico/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="/images/favico/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="/images/favico/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="/images/favico/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="/images/favico/mstile-310x310.png" />

  <link rel="stylesheet" href="/css/main.css">
  <script>
    if (location.protocol !== 'https:' && location.hostname !== 'localhost') {
      location.protocol = 'https:'
    }
  </script>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/sw.js', { scope: '/' });
      });
    }
  </script>
</head>
