@import '_vars.scss';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  text-align: center;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 106%;
  line-height: 1.4;
  background: $background-color;
  display: flex;
  color: #1e2021;
  text-shadow: 0px 1px 0px white;
}

@media (max-width: 799px) {
  html, body {
    flex-direction: column;
  }
}

a {
  color: #1e2021;
  text-decoration: none;
  padding: 0 1px;
  font-weight: bold;
  background-image: linear-gradient(120deg, $js-yellow 1%, $js-yellow 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.35em;
  background-position: 0 88%;
  transition: background-size 0.15s ease-in;
  &:hover {
    background-size: 100% 100%;
  }
}

a.image-link {
  background: none !important;
}

img {
  max-width: 100%;
}

mark {
  background-color: $js-yellow;
  padding: 3px;
}

hr {
  border: 0;
  height: 2px;
  display: block;
  background: $js-yellow;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: content-box;
  width: 80%;
  margin: 1em auto;
}

.small {
  font-size: 0.7em;
}

.center {
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@import "sidebar.scss";
@import "menu.scss";

main {
  width: 100%;
  text-align: left;
  padding: 20px;
}

main > div {
  max-width: 500px;
  margin: 0 auto;
}

/* Desktop overrides */
@media (min-width: 800px) {
  main {
    width: 60vw;
  }
}

main {
  time {
    font-size: 0.9em;
    color: #5d5c5c;
    font-weight: bold;
  }

  h1 {
    margin: 0.4em 0;
  }

  h2 {
    margin-top: 2em;
  }
}

.address {
  font-size: 0.9em;

  &::before {
    content: '📍';
  }
}

.agenda {
  list-style: none;
  padding: 0;

  time {
    font-weight: bold;
  }

  p {
    margin-top: .5em;
    margin-bottom: .5em;
  }

  li::before {
    content: attr(data-time);
  }

  li > div {
    border-left: 1px dashed #ccc;
    margin: 2px 20px 0;
    padding: 5px 20px 20px;

    &::before {
      content: attr(data-time);
      position:relative;
      top: 50%;
    }
  }

  .agenda-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 0;
  }

  &::after {
    content: '👋';
    position: relative;
    left: 0.5em;
  }

}

.archive {
  section {
    margin-bottom: 3em;
    padding-bottom: 1em;
    border-bottom: 5px solid black;

    &:last-of-type {
      border-bottom: 0;
    }
  }
}

.speakers, .sponsors {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  figure {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 25%;

    img {
      max-width: 100px;
      max-height: 100px;
    }

    figcaption {
      text-align: center;
      margin-top: 0;
      margin-bottom: 16px;
    }
  }
}

.sponsors figure {
  margin-top: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  img {
    max-width: 90%;
    max-height: 200px;
  }
}
