@import '_vars.scss';


.sidebar {
  width: 100%;
  background: $js-yellow;
  border-bottom: 5px solid black;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  text-shadow: none;
}

.sidebar > * {
  max-width: 80%;
  margin: 8px;
}

.sidebar a {
  color: #1e2021;
  background-image: linear-gradient(120deg, #ffffff 1%, #ffffff 100%);
}

.logo {
  width: 40%;
  margin: 0 auto;
  padding: 5px 0 10px 0;
  text-align: center;
}

.logo svg {
  max-height: 100%;
  max-width: 100%;
  border: 5px solid black;
}

.subheading {
  margin: 0 auto;
  max-width: 50%;
}

.join {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  justify-content: center;
  background-image: url(/images/members.jpg);
  background-position: center center;
  background-repeat: repeat;
}
.join a {
  border: 5px solid black;
  width: 200px;
  margin: 5px auto;
  background: $js-yellow;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

footer {
  font-size: 0.8em;
  display: flex;
  align-items: flex-end;
  min-height: 50px;
}

/* Desktop overrides */
@media (min-width: 800px) {
  .sidebar {
    height: 100%;
    width: 32vw;
    border-right: 5px solid black;
    border-bottom: none;
    position: fixed;
  }

  .subheading {
    font-size: 1.2em;
  }

  main {
    margin-left: 32vw;
  }
}

@media (min-width: 1000px) {
  .subheading {
    font-size: 1.4em;
  }
}
